<%layout("/layouts/boilerplate")%>
<body>
    <h3> This is the detail for the listing </h3>
    <ul>
        <li><%=list.title%></li>
        <li><%=list.description%></li>
        <li><%=list.price%></li>
        <li><%=list.location%></li>
        <li><%=list.country%></li>
    </ul>
    <a href="/listing/<%=list._id%>/edit">Edit this post</a><br><br>
    <form action="/listing/<%=list._id%>?_method=delete" method="post">
        <button> Delete this listing </button>
    </form>
</body>
